<div class="box notice">
  <i class="ico-notice"></i>
  <a href="https://github.com/christianblais/parcelify/blob/master/README.md" target="_blank">Need help? Find some examples on Github!</a>
</div>

<%= form_for(@rate) do |f| %>
  <div class="section">
    <div class="section-summary">
      <h1>Details</h1>
      <p>Publicly available information regarding your shipping rate.</p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Bike delivery' %>
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: 'I offer personal bike delivery in my neighborhood.' %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1>Price (<%= shop.currency %>)</h1>
      <p>All prices are in sub-units, i.e. cents, pennies, pence, etc.</p>
      <p>Total Price = Base price + (Price per gram * grams) + extras per item</p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :price, 'Base Price' %>
          <%= f.text_field :price, placeholder: 0 %>
          <%= f.label :price_weight_modifier, 'Price per gram' %>
          <%= f.text_field :price_weight_modifier, placeholder: 0 %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1>Limits</h1>
      <p>Restrict availability of this rate through price and weight.</p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :min_grams %>
          <%= f.text_field :min_grams %>
        </div>
        <div class="section-cell">
          <%= f.label :max_grams %>
          <%= f.text_field :max_grams %>
        </div>
      </div>
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :min_price %>
          <%= f.text_field :min_price %>
        </div>
        <div class="section-cell">
          <%= f.label :max_price %>
          <%= f.text_field :max_price %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1>Additional cost per item</h1>
      <p>
        Use these extras to add per-product price to your rate. This cost will be added once per item matching specified criterias.
      </p>
      <p>
        <button class="btn primary" data-product_specific_price-add>
          Add an extra
        </button>

        <div style="display: none;" data-product_specific_price-template>
          <%= f.fields_for :product_specific_prices, ProductSpecificPrice.new do |ff| %>
            <%= render 'product_specific_price', f: ff, destroyed: true, disabled: true %>
          <% end %>
        </div>
      <p>
    </div>
    <div class="section-content" data-product_specific_price-list>
      <% @rate.product_specific_prices.each do |product_specific_price| %>
        <%= f.fields_for :product_specific_prices, product_specific_price do |ff| %>
          <%= render 'product_specific_price', f: ff %>
        <% end %>
      <% end %>

      <% if @rate.product_specific_prices.empty? %>
        <%= f.fields_for :product_specific_prices, ProductSpecificPrice.new do |ff| %>
          <%= render 'product_specific_price', f: ff %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1>Filters</h1>
      <p>Use these filters to decide whether or not this rate should be available for this checkout.</p>
      <p>
        <button class="btn primary" data-condition-add>
          Add a filter
        </button>

        <div style="display: none;" data-condition-template>
          <%= f.fields_for :conditions, Condition.new do |ff| %>
            <%= render 'condition', f: ff, destroyed: true, disabled: true %>
          <% end %>
        </div>
      <p>
    </div>
    <div class="section-content" data-condition-list>
      <% @rate.conditions.each do |condition| %>
        <%= f.fields_for :conditions, condition do |ff| %>
          <%= render 'condition', f: ff %>
        <% end %>
      <% end %>

      <% if @rate.conditions.empty? %>
        <%= f.fields_for :conditions, Condition.new do |ff| %>
          <%= render 'condition', f: ff %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: "<%= @rate.persisted? ? @rate.name : 'New' %>",
    breadcrumb: { label: "Shipping rates", href: "<%= rates_path %>", target: 'app', loading: false },
    buttons: {
      primary: { label: "Save", callback: function() {
        $('form').submit()
      }},
      secondary: [{
        label: "Cancel", callback: function() {
          window.location = "<%= rates_path %>"
        }
      }]
    }
  });

  <% if @rate.errors.any? %>
    ShopifyApp.flashError('Oops, something went wrong!');
  <% end %>
<% end %>
