<div class="section">
  <div class="section-summary">
    <h1>Shipping Rates</h1>
    <p>These are the shipping rates you created.</p>
  </div>

  <div class="section-content">
    <% @rates.each do |rate| %>
      <div class="section-row">
        <div class="section-cell">

          <div class="cell-container">
            <div class="cell-column">
              <h1 style="font-size: 1.5em; color: #31373d">
                <%= rate.name %>
                <span class="tag lightgray">
                  <%=
                    number_to_currency(
                      rate.price / 100.0,
                      unit: shop.currency,
                      format: "%n %u"
                    )
                  %>

                  <% unless rate.price_weight_modifier.zero? %>
                    <%= " + " %>
                    <%=
                      number_to_currency(
                        rate.price_weight_modifier / 100.0,
                        format: "%n"
                      )
                    %>
                    <%= " per gram" %>
                  <% end %>
                </span>
              </h1>

              <ul class="segmented right">
                <li><%= link_to 'Edit', rate_path(rate), class: %w(btn default btn-slim) %></li>
                <li><%= link_to 'Delete', rate_path(rate), method: :delete, class: %w(btn destroy btn-slim), data: { confirm: "Delete \"#{rate.name}\"?" } %></li>
              </ul>
            </div>
          </div>

          <% if rate.limits.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <h1>This rate is only valid for orders within those limits;</h1>
                <ul>
                  <% if rate.min_price.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:min_price) %>:
                      <%=
                        number_to_currency(
                          rate.min_price / 100.0,
                          unit: shop.currency,
                          format: "%n %u"
                        )
                      %>
                    </li>
                  <% end %>

                  <% if rate.max_price.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:max_price) %>:
                      <%=
                        number_to_currency(
                          rate.max_price / 100.0,
                          unit: shop.currency,
                          format: "%n %u"
                        )
                      %>
                    </li>
                  <% end %>

                  <% if rate.min_grams.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:min_grams) %>:
                      <%= number_with_delimiter(rate.min_grams) %> grams
                    </li>
                  <% end %>

                  <% if rate.max_grams.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:max_grams) %>:
                      <%= number_with_delimiter(rate.max_grams) %> grams
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <% if rate.product_specific_prices.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <h1>Additional costs will be applied;</h1>
                <ul>
                  <% rate.product_specific_prices.each do |product_specific_price| %>
                    <li>
                      <%=
                        number_to_currency(
                          product_specific_price.price / 100.0,
                          unit: shop.currency,
                          format: "%n %u"
                        )
                      %>
                      <%= "when an item has a" %>
                      <%= t(product_specific_price.field, scope: 'matcher.fields').downcase %>
                      <%= "that" %>
                      <%= t(product_specific_price.verb, scope: 'matcher.actions').downcase %>
                      <%= truncate(product_specific_price.value) %></td>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <% if rate.conditions.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <h1>This rate is only valid when all the following conditions are met;</h1>
                <ul>
                  <% rate.conditions.each do |condition| %>
                    <li>
                      <% if Matcher::PRODUCT_FIELDS.include?(condition.field) %>
                        <%= "all" %>
                        <%= t(condition.field, scope: 'matcher.fields').downcase.pluralize %>
                      <% else %>
                        <%= "the destination" %>
                        <%= t(condition.field, scope: 'matcher.fields').downcase %>
                      <% end %>
                      <%= t(condition.verb, scope: 'matcher.actions').downcase %>
                      <%= truncate(condition.value) %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: 'Shipping Rates',
    buttons: {
      primary: { label: "New shipping rate", callback: function() {
        window.location = "<%= new_rate_path %>"
      }},
      secondary: [{
        label: "Troubleshoot", callback: function() {
          ShopifyApp.Modal.confirm(
            {
              title: "Having problems?",
              message: "Rates are not showing up? Having problems deleting / reinstalling the app? We can try to sync back Parcelify with Shopify. Just click here, sit back, relax, and wait. You won't loose any progress.",
              okButton: "Yes, sync with Shopify",
              cancelButton: "Cancel",
              style: "danger"
            }, function(result) {
              if (result) {
                window.location = "<%= retry_path %>"
              }
            }
          );
        }
      }]
    }
  });
<% end %>
